* {
	box-sizing: border-box;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans serif";
	margin:15px;
	padding:0px;
}

h1 {
	text-align: center;
	font-size:1.75em;
}

.menu_item {
	position:relative;
	border-style: solid;
	border-width: 2px;
	border-color: black;

	background-color:PapayaWhip;
	padding: 15px;
	padding-top:40px;
	margin:10px;
	min-height:250px;
}

.item_name {
	position:absolute;
	top:-1px;
	right:-1px;
	width: 90px;
	margin:0px;

	text-align:center;
	font-size:1.25em;

	border-style:solid;
	border-width: 2px;
	border-bottom-left-radius: 15px;
}

#chicken {
	background-color:BurlyWood;
	color:Sienna;
	border-color:Sienna;
}

#fish {
	background-color:#00ffff;
	color:DarkCyan;
	border-color:DarkCyan;
}

#dessert {
	background-color:GreenYellow;
	color:ForestGreen;
	border-color:ForestGreen;
}

.row {
	margin-left:-15px;
	margin-right:-15px;
}

.pv_1, .tv_2, .tv_1, .dv_3 {
	float:left;
}

/* Media queries:
Break points: desktop view: width >= 992px +
				tablet view: 768 >= width <= 991 px
				phone view: width <= 767
notation:
x_n where x is the view identifier: dv, tv or pv 
		and n is the number of columns */


/*phone view*/
@media (max-width: 767px) {
	.pv_1 {
		width:100%;
	}
}

/*tablet view*/
@media (min-width:768px) and (max-width:991px) {
	.tv_2 {
		width:50%;
	}

	.tv_1 {
		width:100%;
	}
}

/*desktop view*/
@media (min-width:992px) {
	.dv_3 {
		width:33%;
	}
}